<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <!-- <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
        crossorigin="anonymous"
        >
    </script>
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.175.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.175.0/examples/jsm/"
          }
        }
    </script> -->

    <script src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>
    <script src='http://joeiddon.github.io/perlin/perlin.js'></script>
    <script type="importmap">
      {
        "imports": {
          "three": "{{ url_for('static', filename='lib/three.module.js') }}",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.175.0/examples/jsm/"
        }
      }
  </script>

</head>
<body>
    <script type="module" src="{{ url_for('static', filename='sockethandler.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='terrain.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>